<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="./public/styles.css">
    <title>Store Locator</title>
</head>

<body>
    <main>
        <div class="store-list">
            <div class="heading">
                <h2>Our outlets</h2>
            </div>
            <ul class="list">
            </ul>
        </div>
        <div id="map"></div>
    </main>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script>
        const storeList = [
]
const storeData = <%- JSON.stringify(data)%>

for (var i = 0; i < storeData.length; i++) {

    obj = {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [storeData[i].latitude, storeData[i].longitude]
        },
        "properties": {
          "name": storeData[i].title,
          "address": storeData[i].address,
          "phone": storeData[i].price
        }
      }

  storeList.push(obj);
}

// const storeList = [{"id":"66150021923ab366973e33d5",
// "title":"jay",
// "price":1,
// "images":[],
// "address":"1",
// "city":"1",
// "bedroom":1,
// "bathroom":1,
// "latitude":"1",
// "longitude":"1",
// "type":"rent",
// "property":"apartment",
// "createdAt":"2024-04-09T08:45:20.846Z",
// "userId":"6614d15838100dc1da632f4a"}
// ]




    



    </script>
    <script src="./public/app.js"></script>
</body>

</html>