register
<form action="/auth/register" method="post" class="sign-up-form">
    <h2 class="title">Register</h2>
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" name="username" placeholder="UserName" />
    </div>
    <div class="input-field">
      <i class="fas fa-envelope"></i>
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <% if(errorMessage) {%>
    <div style="color: red"><%=errorMessage%></div>
    <% } %>
    <button type="submit" class="btn" value="Sign up">Sign up</button>
    <!-- <input type="submit" class="btn" value="Sign up" /> -->
    <p class="social-text" style="color: #ddffff">
      Or Sign up with social platforms
    </p>
    <div class="social-media">
      <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </form>