<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventEase - Choose your dream place</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/public/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/public/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <%- include('includes/header',{data:user}) %>






  <main>
    <article class="article">

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="hero">
        <div class="container">

          <div class="hero-bg">
            <div class="hero-content">

              <h1 class="h1 hero-title">
                We will help you find your <span class="span">Wonderful</span> home
              </h1>

              <p class="hero-text">
                A great plateform to buy, sell and rent your properties without any agent or commisions.
              </p>

            </div>
          </div>

          <div class="hero-form-wrapper">
            <div class="form-tab">

              <button class="tab-btn active" data-tab-btn>Buy</button>
              <button class="tab-btn" data-tab-btn>Sell</button>
              <button class="tab-btn" data-tab-btn>Rent</button>

            </div>


            
            <form action="/search" method="GET" class="hero-form">

              <div class="input-wrapper">

                <label for="search" class="input-label">City : *</label>

                <input type="text" name="city" id="search" placeholder="Search your home" required
                  class="input-field">

                <ion-icon name="search-outline"></ion-icon>

              </div>

              <div class="input-wrapper">
                <label for="category" class="input-label">Select Categories:</label>

                <select name="category" id="category" class="dropdown-list">


                  <option value="apartment">Apartment</option>
                  <option value="house">House</option>
                  <option value="condo">Condo</option>
                  <option value="land">Land</option>
                </select>
              </div>

              <div class="input-wrapper">
                <label for="min-price" class="input-label">Min Price :</label>

                <select name="minPrice" id="min-price" class="dropdown-list">

                  <option value="min price">Min Price</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="2000">2000</option>
                  <option value="3000">3000</option>
                  <option value="4000">4000</option>
                  <option value="5000">5000</option>
                  <option value="6000">6000</option>

                </select>
              </div>

              <div class="input-wrapper">
                <label for="max-price" class="input-label">Max Price :</label>

                <select name="maxPrice" id="max-price" class="dropdown-list">

                  <option value="max price">Max Price</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="2000">2000</option>
                  <option value="3000">3000</option>
                  <option value="4000">4000</option>
                  <option value="5000">5000</option>
                  <option value="6000">6000</option>

                </select>
              </div>

              <button type="submit" class="btn btn-primary">Search now</button>

            </form>
          </div>

        </div>
      </section>








      <%- include('map'),{data:data } %>






      <!-- 
        - #PROPERTY
      -->






      <!-- 
        - #NEWSLETTER
      -->

      <section class="newsletter" aria-label="newsletter">
        <div class="container">

          <div class="wrapper">
            <h2 class="h2 section-title">Subscribe to Newsletter!</h2>

            <p class="section-text">Subscribe to get latest updates and information.</p>
          </div>

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter your email :" aria-label="Enter your email"
              required class="email-field">

            <button type="submit" class="btn btn-secondary">Subscribe</button>
          </form>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->







  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./public/assets/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>


